<div class="section-space"></div>
<div class="header-1">
  <div class="page-header header-filter" style="background-image: url('<%= image_path('banyan.jpg') %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <br>
      </div>
      <div class="col-md-5 ml-auto unit">
        <h1 class="title_unit">Surplus Units</h1>
        <h4>Thats what we call units working towards for creating monetary profit for us</h4>
            </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <p class="text_container">At the creation of Auroville Foundation Act,the Indian Government recognised Auroville Foundation as the legal owner for all the units of Auroville.</p>
  <div class="features-3">
    <div class="row">
      <div class="col-md-6 description">
      <ul>
        <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
        <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
        <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
      </ul>
      </div>
      <div class="col-md-6 description">
        <ul>
          <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
          <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
          <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
        </ul>
      </div>
      </div>
    </div>
    <div class="end_text">
      <p>At the creation of Auroville Foundation Act,the Indian Government recognised Auroville Foundation as the legal owner for all the units of Auroville.</p>
      <p>These are 30% of City Expenses</p>
    </div>
<hr>
  </div>

  <!--Filtering-->
  <div class="container searching">
    <div class="row">
      <div class="col-md-3">
        <h4>Search by</h4>
        <div class="form-check">
                           <label class="form-check-label">
                             <input class="form-check-input" type="checkbox" value=""> Product
                             <span class="form-check-sign">
                                 <span class="check"></span>
                             </span>
                         </label>
                     </div>
       <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Price
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
      <div class="form-check">
                       <label class="form-check-label">
                           <input class="form-check-input" type="checkbox" value=""> Location
                           <span class="form-check-sign">
                               <span class="check"></span>
                           </span>
                       </label>
                   </div>
     <div class="form-check">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value=""> Distance
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                  </div>
                </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4 px">
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        </div>
      <div class="col-md-4 px">
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        </div>
      <div class="col-md-4 px">
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        <%= link_to unit_path do %>
          <img src="<%= image_path('auroville-pondicherry-1.jpg') %>" alt="Rounded Image" class="img-raised rounded img-fluid">
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
